<h2>Create new user</h2>

<div>
    @using (Html.BeginForm("CreateNewUser", "Login", FormMethod.Post)) {
        @Html.AntiForgeryToken()
        <p>
            @Html.Label("Username") <br>
            @Html.TextBox("createUsername")
        </p>
        <p>
            @Html.Label("Password") <br>
            @Html.TextBox("createPassword")
        </p>
        <p>
            @Html.Label("Mail") <br>
            @Html.TextBox("createMail")
        </p>
        <p>
            <input type="submit" value="Create" />
        </p>
        <p>
            @*Is only displayed if an error has been occured.*@
            @Html.ValidationMessage("errorCreateNewUser")
        </p>
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
